body {
	background: #eee;
    font-family: Helvetica;
    font-size: 10px;
}

input[type=image] {
	cursor: hand;
}

input {
    width: 50px;
}

button {
    margin: 1px;
    font-family: Helvetica;
    font-size: 10px;
}

table {
    border: 1px solid black;
    margin: 5px;
    background: #ffffff;
}

th {
    font-weight: bold;
    background: #cccccc;
}

tr:nth-child(even) {
    background: #eeeeee;
}

canvas {
    border: 1px solid #000000;
    background: white;
}

caption {
    width: 100%;
    font-weight: bold;
    border: 1px solid black;
    background: #aaaaaa;
}